@import '@yokohama/colors.scss';
@import '@yokohama/variables.scss';
@import '@yokohama/mixins.scss';

.createButton {
	margin-left: auto;
	text-transform: uppercase;
}

.footer {
	@media only screen and (max-width: 600px) {
		position: fixed !important;
		bottom: 1rem !important;
		left: 3rem !important;
		width: calc(100% - 4rem) !important;
		z-index: 999;
	}
}